/* #7ED0D9
#EAF205
#F2A81D
#F27405
#F21905 */

* {
  background-color: #7ed0d9;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.search-and-filter {
  width: 50vh;
  display: inline-flex;
  margin: 1vh;
}

.contador {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight: bolder;
  margin: 1vh;
  border-radius: 2vh;
  background-color: rgb(217, 216, 216);
  padding: 1vh;
  box-shadow: 1vh black;
}

.texto_error{
  color: #FD4977;
  font-size: 10vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  text-shadow: 5vh black;
}

/* .cards-poke {
  background-color: #f2a81d;
} */
